<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.example.org/eVMS"
			class = "org.example.evms.evms.EvmsPackage"
			genModel = "model/generated/Evms.genmodel" />
	</extension>
</plugin>
